/* ! 내가 모르는 CSS 선택자 */
/* 마우스 갖다 대면 스타일 바뀜 */
h6:hover {
    background-color: gray;
}

/* 가상 요소 셀렉터 - 해당 태그 요소의 어떤 부분만 스타일 적용 */
h5::first-letter {  /* 태그 내의 내용의 첫글자만 스타일 적용 */
    font-size: 25px !important;
    font-weight: 900;
}

/* ! 셀렉터 우선순위 */
/*  요소가 적용되는 순서 및 우선순위
    1. !important 선언이 있는 스타일
    2. 인라인 스타일(style 속성을 가진 HTML 요소)
    3. ID 셀렉터
    4. 클래스 셀렉터, 속성 셀렉터, 가상 클래스 셀렉터
    5. 요소 셀렉터, 가상 요소 셀렉터
*/

/* ! 내가 모르는 CSS 속성과 값 */
/* font-size : 10vw - 반응형 웹 사용할 때 많이 사용됨(브라우저 크기에 맞춰서 해당 글자 크기를 조정해줌) */
/* * vw: view의 가로 사이즈 대비 100vw = view의 가로 100% 사이즈 */
/* * vh: view의 세로 사이즈 대비 100vh = view의 세로 100% 사이즈 */
.font-10vw {
    font-size: 10vw;
}

/* display - 요소의 표시 유형 지정 */
.display-block {
    /* block : 공간의 가로 전체를 차지 */
    display: block;
}

.display-inline {
    /* inline : 컨텐츠의 가로 사이즈만큼 가로길이를 차지*/
    display: inline;
}

/* position */
.position-fixed {
    /* 스크롤 내리든 안내리든 그 곳에 그대로 있음 */
    position: fixed;
    top: 0px;
}

/* animaition 속성들 : 요소의 변환과 애니메이션 지정 */
/* animaition 공식문서 : developer.mozilla.org 사이트에서 확인 가능 - 언어 한국어로 하면 잘 나와있음 */
.transform-rotate30 {
    /* 30도 기울임 */
    transform: rotate(30deg);
}

/* ! 내가 모르는 폰트 지정 방법 */
/* 폰트 표현 방법 */
body {
    /* Gill Sans가 존재하지 않으면 Gill Sans MT를 찾아서 적용시킴, 적용시키는 순서임 */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* font-size */
/* ? 절대적 크기 */
/* * in : 인치 / cm : 센티미터 / px : 픽셀 */
/* ? 상대적 크기 */
/* 
 *  em : 부모 요소의 텍스트 사이즈 대비 / 2em : 부모의 텍스트 사이즈의 2배
 *  rem : root 요소(html 요소)의 사이즈 대비
 *  % : 부모 요소 대비 사이즈
 *  vw : 뷰의 가로 사이즈 대비 / 10vw : 뷰 가로 사이즈의 10%
 *  vh : 뷰의 세로 사이즈 대비 / 10vh : 뷰 세로 사이즈의 10%
*/

/* 배경 표현 */
/* * background-position : 배경 이미지의 위치를 지정 */
.bg-position-50-50 {
    /* 가운데 정렬이 됨 */
    background-position: 50% 50%;
}

/* * background-size : 배경 이미지의 크기 지정 */
.bg-size-100 {
    /* contain : 그대로 넣음(조정 안함) / cover : 빈 공간 안남기고 채움(비율 안맞을 수 있음) */
    background-size: 100%; /* 현재 세로만 100%로 맞춰줌*/
}